
* {
    box-sizing: border-box;
}

h1{
    font-size: 19px;
}

h2{
    font-size: 16px;
}


body{
    font-family: 'Raleway', serif;
    color: #000;  
}

#bloc_page{
    /* width: 1482.92px; */
    width: 1600px;
    height: auto;
    /*padding-top: 24.91px;*/
    padding-left: 55.18px;
    padding-right: 56.96px;
    font-size: 14px;
}

@media all and (max-width: 992px){
    #bloc_page
    {
        width:auto;
    }
}


/**/
/* HEADER */
/**/

header{
    display: flex;
    height: 75.01px;
    width: 100%;
    justify-content: space-between;
    align-items: center;    
}

#logo{
    padding-left: 17.88px;
    align-items: baseline;
}

/* Navigation */

nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin-right: 15px;
}

nav a{
    font-size: 14px;
    color: #000;
    padding-top: 52.5px;
    padding-bottom: 25.92px;
    text-decoration: none;
}

nav a:hover{
    color: #0065FC;
    font-weight: bold;
    border-top: 3px solid #0065FC;
}

@media all and (min-width: 768px) and (max-width: 992px){

    nav
    {
        width:auto;
        text-align: left;
    }

    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }

    nav a 
    {
        font-size: 17px;
        padding-top: 0px;
    }

    nav a:hover
    {
        color: #0065FC;
        border-top: none;
        border-left: 3px solid #0065FC;
        
    }
}

@media all and (max-width: 768px){
    
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #logo{
        align-items: center;
    }

   nav    {
        width:auto;
        text-align: center;
    }

    nav ul{
        flex-direction: row;
    }

    nav a{
        border: 1px solid black; /* marque de test */
        font-size: 24px;
        padding-top: 32px;
        padding-bottom: 32px;
        border-bottom: 3px solid #f2f2f2;
    }

    nav a:hover{
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        
    }
}



/*  MAIN  */
main{
    display: flex;
    width: auto;
}

/**/
/* FIND */
/**/

#search{
    height: 360.28px;
    width: auto;
    display: flex;
    flex-direction: column;
}

#search_title{
    padding-top: 44.08px;
    padding-left: 1px;
    height: 100.60px;
    width: auto;
}

/* search */
#search_form{
    padding-top: 19.49px;
    padding-left: 4px;
    height: 100.05px;
    width: auto;
}

form{
    padding-top: 19.49px;
    padding-bottom: 24.57px;
}

.form_icon{
    font-size: 21px;
    padding: 17px 20.51px 16px 20.88px;
    color: #000;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #f2f2f2;
}

.form_in_txt{
    border: 1px solid #f2f2f2;
    color: #000;
    font-weight: bold;
    margin-left: -4px;
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 20.49px;
}

.form_in_sub{
    border:  1px solid #0065FC;
    background-color: #0065FC;
    color: #fff;
    font-weight: bold;
    margin-left: -4px;
    padding: 24px 18.67px 18px 18.67px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
}
.form_in_sub_mob{
    border:  1px solid #0065FC;
    background-color: #0065FC;
    color: #fff;
    font-weight: bold;
    margin-left: -4px;
    padding: 24px 18.67px 18px 18.67px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
}

.fa-input {
    font-family: FontAwesome, 'Raleway', serif;
}

@media all and (min-width: 992px){
    .form_in_sub_mob{
        display: none;
    }
}

@media all and (min-width: 768px) and (max-width: 992px){
    .form_in_sub_mob{
        display: none;
    }
}

@media all and (max-width: 767px){
    .form_in_sub{
        display: none;
    }

    .form_in_sub_mob{
        margin-left: -15px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

#search_filter{
    padding-top: 10.43px;
    padding-left: 14px;
    display: flex;
    flex-direction: row;
    border: 1px solid black; /* marque de test */
    height: 79.37px;
    width: auto;
}

#search_info{
    height: 80.26px;
    padding-top: 25.06px;
    padding-left: 9px;
    width: auto;
    border: 1px solid black; /* marque de test */
}

.i-search-label {
    position: relative;
	left: -6px;
	display: inline-block;
	padding: 8px 8px;
    border: 2px solid #f2f2f2;
	border-radius: 45px;
    color: #0065FC;
}

/* Filtre */

/* 
Boutton Filtre
Utilisation : <button class="btn btn-labeled"><span class="btn-label">{icone Fontawesome <i>}</span>{text boutton}</button> 
*/

button{
    border: 2px solid #f2f2f2;
    border-radius: 45px;
    border-left-style: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn {
    background-color: #fff;
}

.btn-label {
	position: relative;
	left: -6px;
	display: inline-block;
	padding: 8px 8px;
	background: #DEEBFF;
    border: 2px solid #DEEBFF;
	border-radius: 45px;
    color: #0065FC;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.btn:hover{
    background: #0065FC;
    color: #fff;
     transition: .3s;
 }
 
 